extends layout

block content
  .container
    .row
      .col-md-12
        section.update
          h3 Update Data
          form.edit(action='/users/#{userData.username}/edit', method='post')
            .col-md-6.col-sm-6
              .input.margin-bot-10
                label(for='firstName') First Name
                input(type='text', name='firstName' value="#{userData.firstName}")
              .input.margin-bot-10
                label(for='lastName') Last Name
                input(type='text', name='lastName' value="#{userData.lastName}")
              .input.margin-bot-10
                label(for='email') Email
                input(type='text', name='email' value="#{userData.email}")
              .input.margin-bot-10
                label(for='username') Username
                input(type='text', name='username' value="#{userData.username}" required)
              .input.margin-bot-10
                label(for='password') Change Password
                input(type='password', name='password' value="", placeholder="Leave blank if you do not want to change password")
              button.btn-danger.btn(type='submit') UPDATE
