extends layout

block content	
	p= nbateamData.name
	p= nbateamData.abbreviation
	p= nbateamData.conference
	p= nbateamData.division
	p= nbateamData.founded
	p= nbateamData.arena
	p= nbateamData.location
	p= nbateamData.manager
	p= nbateamData.coach
	p= nbateamData.numberOfChampionships
	p= nbateamData.championshipYears
	p= nbateamData.players
	p= nbateamData.teamWebsite
	p= nbateamData.socialPages
	p= nbateamData.createdAt
	p= nbateamData.updatedAt