section.insert
  h3 Insert Data
  form(action='nbateams/new', method='post')
    .input
      label(for='name') Name
      input#title(type='text', name='name')
    .input
      label(for='abbreviation') Abbreviation
      input#content(type='text', name='abbreviation')
    .input
      label(for='conference') Conference
      input#author(type='text', name='conference')
    .input
      label(for='division') Division
      input#author(type='text', name='division')
    .input
      label(for='founded') Founded
      input#author(type='text', name='founded')
    .input
      label(for='arena') Arena
      input#author(type='text', name='arena')
    .input
      label(for='location') Location
      input#author(type='text', name='location')
    .input
      label(for='manager') Manager
      input#author(type='text', name='manager')
    .input
      label(for='numberOfChampionships') Number of Championships
      input#author(type='text', name='numberOfChampionships')
    .input
      label(for='championshipYears') Championship Years
      input#author(type='text', name='championshipYears')
    .input
      label(for='players') Players
      input#author(type='text', name='players')
    .input
      label(for='logoLink') Logo
      input#author(type='text', name='logoLink')
    .input
      label(for='teamWebsite') Website
      input#author(type='text', name='teamWebsite')
    .input
      label(for='socialPages') Social Pages
      input#author(type='text', name='socialPages')
    button(type='submit') INSERT
section.get
  h3 Get Data
  LOAD DATA
  div
    each nbateamData in nbateamsData
        p= nbateamData.name
        p= nbateamData.abbreviation
        p= nbateamData.conference
        p= nbateamData.division
        p= nbateamData.founded
        p= nbateamData.arena
        p= nbateamData.location
        p= nbateamData.manager
        p= nbateamData.coach
        p= nbateamData.numberOfChampionships
        p= nbateamData.championshipYears
        p= nbateamData.players
        p= nbateamData.logoLink
        p= nbateamData.teamWebsite
        p= nbateamData.socialPages
        p= nbateamData.id
section.update
  h3 Update Data
  form(action='nbateams/update', method='post')
    .input
      label(for='id') ID
      input#id(type='text', name='id')
    .input
      label(for='name') Name
      input#name(type='text', name='name')
    .input
      label(for='abbreviation') Abbreviation
      input#abbreviation(type='text', name='abbreviation')
    .input
      label(for='conference') Conference
      input#conference(type='text', name='conference')
    .input
      label(for='division') Division
      input#division(type='text', name='division')
    .input
      label(for='founded') Founded
      input#founded(type='text', name='founded')
    .input
      label(for='arena') Arena
      input#arena(type='text', name='arena')
    .input
      label(for='location') Location
      input#location(type='text', name='location')
    .input
      label(for='manager') Manager
      input#manager(type='text', name='manager')
    .input
      label(for='coach') Coach
      input#coach(type='text', name='coach')
    .input
      label(for='numberOfChampionships') Number of Championships
      input#numberOfChampionships(type='text', name='numberOfChampionships')
    .input
      label(for='championshipYears') Championship Years
      input#championshipYears(type='text', name='championshipYears')
    .input
      label(for='players') Players
      input#players(type='text', name='players')
    .input
      label(for='logoLink') Logo
      input#logoLink(type='text', name='logoLink')
    .input
      label(for='teamWebsite') Website
      input#teamWebsite(type='text', name='teamWebsite')
    .input
      label(for='socialPages') Social Pages
      input#socialPages(type='text', name='socialPages')
    button(type='submit') UPDATE
section.delete
  h3 Delete Data
  form(action='nbateams/delete', method='post')
    .input
      label(for='id') ID
      input#id(type='text', name='id')
    button(type='submit') DELETE
