extends layout

block content
  .container-fluid.overflow-scroll
    .row
      .col-md-6
        table.table.table-striped
          thead
            tr
              th Username
              th First Name
              th Last Name
              th Email
              th Time Created
              th Time Updated
          thead
            each userData in usersData
              tr
                th= userData.username
                th= userData.firstName
                th= userData.lastName
                th= userData.email
                th #{moment(userData.createdAt).format("YYYY-MM-DD hh:mm:ss a")}
                th #{moment(userData.updatedAt).format("YYYY-MM-DD hh:mm:ss a")}

